.logo{
  width:50px;
  text-align:center;
}
p
{
  margin:40px 0px;
  text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.hotel{
  width:100%;
}
.margeimage{
      margin:10px 0px;
      text-align: right;
        font-family: 'Montserrat', sans-serif;
}

.titre{
  text-align: right;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #E3872D;
    font-family: 'Montserrat', sans-serif;
}
/*****************Menu Expériences*****************/
/*****************Menu*****************/
.navbar {
  background-color: #041230;
   min-height:6vh;
}
.nav-link {
  font-size:1.3rem;
  margin:0px 11px;
  color:white!important ;
  font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
  color:#E3872D!important ;
}

body{
  height:100vh;
background:linear-gradient(97deg, transparent 50vw , #e0e0e0 1em );
background-repeat: no-repeat;
}
@media (max-width: 991.98px) { body{background:none ;}
.margeimage{
      text-align: center;
      margin-top: 30px;
} }
